@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --pico-font-family: "IBM Plex Mono", monospace;
  }

  --pico-font-family: "IBM Plex Sans", system-ui;
}

.blog-title {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
}
