<header class="container">
  <nav>
    <ul>
      <li>
        <strong class="blog-title">Pablo's Blog</strong>
      </li>
    </ul>
    <ul>
      <li>
        <a target="_blank" href="https://github.com/coronapl">Github</a>
      </li>
    </ul>
  </nav>
  <p>
    Software Engineer & Co-Founder at <a
      href="https://caremates.de"
      target="_blank">CareMates</a
    >.<br /> Passionate about AI, cloud computing, and social impact projects. I
    also have a deep interest in art and history. Feel free to reach out at <a
      href="mailto:contact@pablosblog.dev">contact@pablosblog.dev</a
    >.
  </p>
  <hr />
</header>
