<header class="container">
  <nav>
    <ul>
      <li class="title-container">
        <div class="title-dot"></div>
        <h2 class="title-font">Endless Queue</h2>
      </li>
    </ul>
    <ul>
      <li>
        <a target="_blank" href="https://github.com/coronapl">Github</a>
      </li>
    </ul>
  </nav>
  <p>
    Hi, I'm Pablo! 💡 <br />
    Software Engineer exploring the fascinating world of tech as Co-Founder at
    <a href="https://caremates.de" target="_blank">CareMates</a>. I write mostly
    about cloud computing and AI, sharing insights from my journey. Let's
    connect at <a href="mailto:pablo@endlessqueue.com">pablo@endlessqueue.com</a
    >.
  </p>
  <hr />
</header>
