---
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <script>
      import "../scripts/theme";
    </script>
    <link rel="stylesheet" href="/pico.cyan.min.css" />
    <title>{pageTitle}</title>

    <!-- SEO -->
    <meta
      name="description"
      content="A simple blog about AI, cloud computing, and more."
    />
    <meta
      name="keywords"
      content="AI, artificial intelligence, cloud computing, tech blog, AWS, computer science, Pablo's Blog"
    />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={pageTitle} />
    <meta
      property="og:description"
      content="A simple blog about AI, cloud computing, and more..."
    />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:type" content="website" />

    <!-- RSS Feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Pablo's Blog"
      href={new URL("rss.xml", Astro.site)}
    />
  </head>
  <body>
    <slot />
    <footer class="container">
      <small>© 2024 Pablo's Blog</small>
    </footer>
  </body>
</html>
