---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <main class="container">
    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="/">{"< Back"}</a></li>
      </ul>
    </nav>
    <hgroup>
      <h2>{frontmatter.title}</h2>
      <h3>
        {
          new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </h3>
    </hgroup>
    <hr />
    <section>
      <slot />
    </section>
  </main>
</BaseLayout>
